@font-face {
    font-family: 'Enter-The-Grid';
    src: url('../fonts/Enter-The-Grid.tff');
}
@font-face {
    font-family: 'Multicolore';
    src: url('../fonts/Multicolore.otf');
}
.reveal{
    background-color:#E94A33;
}

.logo{
    max-width: 40%;
    position: relative;
    margin: auto !important;
}

section h1{
    font-family: "Enter-The-Grid" !important;
}

